.Page {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  color: black;
}
.Page h1 {
  font-size: 50pt;
}
.Page table {
  color: black;
}

.inline {
  display: inline-block;
}
#location {
  margin-left: 40px;
  font-size: 16pt;
}

.aboutMeSection img {
  float: left;
  width: 160px;
  height: 160px;
}
.aboutMeSection span {
  display: block;
  margin-top: 10pt;
  padding-left: 15%;
}
.aboutMeSection {
  display: flex;
  align-items: center;
}
.aboutMeSectionDescription {
  font-size: 16pt;
}

.header {
  display: inline-block;
  width: 100%;
}
.header_icon {
  float: left;
  font-size: 40pt;
  margin-right: 2.5%;
}
.header hr {
  border-top: 1px solid black;
}

#about_me_text {
  font-size: 18pt;
}
ul#courses_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 14pt;
}

.Page#edu p{
    font-size: 14pt;
}