.Section {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  color: black;
}
.inline {
  display: inline-block;
}
#location {
  margin-left: 40px;
  font-size: 16pt;
}
.aboutMeSection {
  img {
    float: left;
    width: 160px;
    height: 160px;
  }
  span {
    display: block;
    margin-top: 10pt;
    padding-left: 15%;
  }
  display: flex;
  align-items: center;
}
.aboutMeSectionDescription {
  font-size: 16pt;
}
.header {
  display: inline-block;
  width: 100%;
  hr {
    border-top: 1px solid black;
  }
}
.header_icon {
  float: left;
  font-size: 40pt;
  margin-right: 2.5%;
}
#about_me_text {
  font-size: 18pt;
}
ul#courses_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 14pt;
}

.Section#Education {
    // background-color: orange;
  p {
    font-size: 14pt;
  }
}
.Section#Projects {
//   background-color: red;
}

.Section#AboutMe {
    // background-color: blue;
}
.Section#Projects{
    // background-color: green;
}